/**************** Sign Up/Login Page Style Sheet ****************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

fieldset {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    background: #f1f1f1;
    margin: 5px 0px 5px 0px;
    border: 1px solid #b3b3b3;
    outline: none;
    width: 350px;
}

input[type="submit"] {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}