/****************** MAIN STYLESHEET ******************/

/****************** Basic Styling *****************/
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #EEE;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    padding-bottom: 4em;
    padding-top: 0;
    position: relative;
}


/****************** Navigation Bar ******************/
nav {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    border-bottom: 5px solid purple;
    /*border-bottom-color: purple;*/
    margin-bottom: 0;
}

/*.navbar-header>a:hover {*/
    /*color: purple;*/
/*}*/

.page-title {
    color: #34AFA8;
    font-size: 36px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #34AFA8;
}

.navbar-btn {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar .navbar-inverse {
    margin-bottom: 0;
}


/****************** Sign Up/Login Buttons *****************/
.navbar-btn>a {
    color: #FFFFFF;
}

.navbar-btn>a:hover {
    color: #FFFFFF;
}


/****************** Social Media Icons ******************/
.fa {
    font-size: 20px;
    padding: 0 0 0 0;
}

.fa:hover {
    color: #FFFFFF;
}

.fa-facebook {
    color: #800080;
}

.fa-instagram {
    color: #800080;
}


/****************** Main Content ******************/
.mainContent {
    background-color: #CCC;
    height: 100%;
}

.container.main {
    background-color: #FFFFFF;
    /*border-left: 5px solid #000000;*/
    /*border-right: 5px solid #000000;*/
    border-radius: 0;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 0;
}


/****************** Home Page Carousel ******************/
#myCarousel {
    margin-bottom: 1em;
}


/****************** Home Page Jumbotron ******************/
.jumbotron {
    /*background-image: url("../images/Capture.PNG");*/
    background-color: #34AFA8;
    border-radius: 0;
    color: whitesmoke;
}

.jumbotron>h1 {
    color: #0f0f0f;
}

.jumbotron>button {
    background-color: #800080;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}


/****************** Home Page Marketing Grid ******************/
.container.marketing {
    background-color: #FFFFFF;
    /*border-left: 5px solid #000000;*/
    /*border-right: 5px solid #000000;*/
    margin-bottom: 20px;
    padding-top: 2em;
}

.img-circle {
    border: 4px solid #800080;
}


/****************** Footer ******************/
footer {
    border-top: 5px solid #000000;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
}

footer.navbar-inverse {
    border-radius: 0;
    color: #34AFA8;

}

p.copyrightText {
    color: whitesmoke;
}