/****************** Main Stylesheet ******************/
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #E1ECBB;
    /*font-family: 'Roboto', sans-serif;*/
    min-height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
}

/****************** Navigation Bar ******************/
nav {
    font-family: 'Droid Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.page-title {
    color: #34AFA8;
    font-size: 36px;
}

.navbar-btn {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar .navbar-inverse {
    color: #EEF6ED;
    margin-bottom: 0;

}

/****************** Social Media Icons ******************/
.fa {
    font-size: 22px;
    padding: 0 0 0 0px;
}

.fa:hover {
    color: #34AFA8;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

/****************** Home Page Marketing Grid ******************/
.container.marketing.mainContent {
    margin-bottom: 0;
}

.container.mainContent {
    background-color: white;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 45px;
}

/****************** Footer ******************/
footer {
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
}

footer.navbar-inverse {
    border-radius: 0;
    color: #34AFA8;
    font-family: 'Droid Sans', sans-serif;
}

a.btn-footer:hover {
    color: #34AFA8;
}

p.copyrightText {
    color: white;
    margin: 10px 0 10px;
    padding-left: 10px;
    padding-top: 10px;
}