/****************** Main Stylesheet ******************/
body {
    background-color: #E1ECBB;
    /*background-color: black;*/
    padding-top: 50px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

/****************** Navigation Bar ******************/
nav {
    font-family: 'Droid Sans', sans-serif;
}

.page-title {
    font-size: 36px;
    color: #34AFA8;
}

.nav-btn {
    color: red;
}

/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: center;
} */

.navbar .navbar-inverse {
    margin-bottom: 0px;
    color: #EEF6ED;
}

/****************** Social Media Icons ******************/
.fa {
    font-size: 22px;
    padding: 0 0 0 0px;
}

.fa:hover {
    /*opacity: 0.5;*/
    color: #34AFA8;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

/****************** Carousel ******************/
#myCarousel {
     margin: 0px 0px 0px 0px;
     padding-left: 0px;
     padding-right: 0px;
 }


/****************** Grid of 3 ******************/
.container.marketing {
    margin-bottom: 20px;
    /*background-color: #EEF6ED;*/
}

.container.mainContent {
    background-color: white;
    height: 100%;
}
/****************** Footer ******************/
p.copyrightText {
    color: white;
    margin: 10px 0px 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.backToTop {
    color: rgb(51, 122, 183);
    padding-top: 10px;
}